# build
venv/
build/
dist/
solar_utils.egg-info/
*.pyc
*.dylib
*.so
*.dll
*.exp
*.def
*.obj
*.o
*.lib
*.a
*.dll.manifest

# IDE
.idea/
.settings/
.project
.pydevproject
SolarUtils.sublime-workspace
SolarUtils.sublime-project
.spyderproject

# sphinx
docs/_build/
