# build
venv/
build/
solar_utils/build/
dist/
SolarUtils.egg-info/
*.pyc
*.dylib
*.so
*.dll
*.exp
*.def
*.obj
*.o
*.lib
*.a
*.dll.manifest

# IDE
.idea/
.settings/
.project
.pydevproject
SolarUtils.sublime-workspace
SolarUtils.sublime-project
.spyderproject

# sphinx
docs/_build/
solar_utils/docs/_build/

# testing
__pycache__/
