# build
build/
dist/
solar_utils.egg-info/
*.pyc
*.dylib
*.so
*.dll
*.exp
*.obj
*.lib
*.a
*.dll.manifest

# IDE
.idea/
.settings/
.project
.pydevproject
SolarUtils.sublime-workspace
SolarUtils.sublime-project

# sphinx
docs/_build/
